<ng-include src="'app/home/navbar.html'" ></ng-include>

<!-- Top content -->
<div class="top-content">
  <div class="container">

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text">
        <img src="https://static.clubelinkar.com.br/images/logo_linkar.png" alt="logo linkar" />
        <h1 class="wow fadeInLeftBig">Registre-se agora e comece a Linkar!</h1>
        <div class="description wow fadeInLeftBig">
          <p>
            O Linkar é o Clube de Vantagens que tem os melhores benefícios para o morador da Baixada Fluminense.
            Aqui você terá as melhores empresas da baixada e os melhores produtos e serviços para se beneficiar.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 r-form-1-box wow fadeInUp"
        ng-if="!vm.signupSuccess">

        <div class="r-form-1-top">
          <div class="r-form-1-top-left">
            <h3>Registre-se, e ganhe 100 pontos!</h3>
            <span>Preencha os dados abaixo:</span>
          </div>
          <div class="r-form-1-top-right">
            <i class="fa fa-pencil"></i>
          </div>
        </div>
        <div class="r-form-1-bottom">
          <form role="form" action="" method="post">
            <div class="form-group">
              <label class="sr-only" for="r-form-1-first-name">Nome</label>
              <input type="text" name="r-form-1-first-name" placeholder="Seu Nome" class="r-form-1-first-name form-control" id="r-form-1-first-name"
                ng-model="vm.user.name">
            </div>
            <div class="form-group">
              <label class="sr-only" for="r-form-1-email">Email</label>
              <input type="email" name="r-form-1-email" placeholder="seu@email.com" class="r-form-1-email form-control" id="r-form-1-email"
                ng-model="vm.user.email">
            </div>
            <div class="form-group">
              <label class="sr-only" for="r-form-1-last-name">CPF</label>
              <input type="text" name="r-form-1-last-name" placeholder="Número do seu CPF" class="r-form-1-last-name form-control" id="r-form-1-last-name"
                ng-model="vm.user.cpf"
                ui-br-cpf-mask>
            </div>
            <div class="form-group">
              <label class="sr-only" for="r-form-1-password">Senha</label>
              <input type="password" name="r-form-1-password" placeholder="Escolha sua senha" class="r-form-1-password form-control" id="r-form-1-password"
                ng-model="vm.user.password">
            </div>
            <!-- <div class="form-group">
              <label class="sr-only" for="r-form-1-password-retype">Confirmação de senha</label>
              <input type="password" name="r-form-1-password-retype" placeholder="Confirme a senha" class="r-form-1-password-retype form-control" id="r-form-1-password-retype"
                ng-model="vm.user.password_retype">
            </div> -->

            <button type="button" class="btn" ng-click="vm.save()">Registrar!</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-sm-offset-3 r-form-1-box wow fadeInUp"
      ng-if="vm.signupSuccess">

      <div class="r-form-1-top">
        <div class="r-form-1-top-left">
          <h3>Olá, {{vm.user.name}}!</h3>
          <p>
            Creditamos 100 lkr pra você por ter se cadastrado conosco.</p>
          <p>
            Fique ligado em nossas novidades. ;-)
          </p>
          <p>
            Você receberá um e-mail confirmando seu cadastro. <br />
            (Se não chegar logo, verifique sua caixa de spams)
          </p>
        </div>
        <div class="r-form-1-top-right">
          <i class="fa fa-smile-o"></i>
        </div>
      </div>

    </div>

  </div>
</div>

<ng-include src="'app/home/products.html'"></ng-include>

<!-- Por que Linkar? -->
<div class="features-container section-container why-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 features section-description wow fadeIn">
        <h2>Por que Linkar?</h2>
        <div class="divider-1 wow fadeInUp">. . . . . . . . . .</div>
        <p>
          Você já é cliente de diversas empresas. Então, que tal acumular pontos a cada vez que compra produtos ou utiliza serviços dessas empresas?
        </p>
        <p>
          Você só precisa se cadastrar e, avisar às empresas parceiras que quer pontuar com Linkar. Simples assim.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 features-box wow fadeInUp">
        <div class="features-box-icon"><i class="fa fa-thumbs-up"></i></div>
        <h3>Confiável</h3>
        <p>Empresas cuidadosamente selecionadas por nós e avaliadas por você.</p>
      </div>
      <div class="col-sm-4 features-box wow fadeInDown">
        <div class="features-box-icon"><i class="fa fa-map-marker"></i></div>
        <h3>Perto de você</h3>
        <p>Sempre teremos empresas no seu bairro para acumular e trocar seus pontos por ofertas!</p>
      </div>
      <div class="col-sm-4 features-box wow fadeInUp">
        <div class="features-box-icon"><i class="fa fa-users"></i></div>
        <h3>Todo mundo já tem</h3>
        <p>Já são milhares de usuários trocando e acumulando pontos no clube mais vantajoso para você que é da Baixada Fluminense.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 section-bottom-button wow fadeInUp">
        <a class="btn btn-link-1 scroll-link" href="#top-content">Cadastre-se <i class="fa fa-angle-right"></i></a>
      </div>
    </div>
  </div>
</div>

<!-- FAQ -->
<div class="faq-container section-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 faq section-description wow fadeIn">
        <h2>Perguntas frequentes</h2>
        <div class="divider-1 wow fadeInUp">. . . . . . . . . .</div>
        <p>

        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1 faq-box wow fadeInUp">
        <div class="faq-number">1</div>
        <h3>Por que preciso me cadastrar?</h3>
        <p>
          Precisamos de seus dados básicos para que você possa se identificar no momento de comprar em um dos nossos parceiros.
        </p>
        <p>
          Assim poderemos creditar seus pontos Linkar à sua conta.
        </p>
      </div>
      <div class="col-sm-4 col-sm-offset-2 faq-box wow fadeInDown">
        <div class="faq-number">2</div>
        <h3>Como consigo ver meus pontos acumulados?</h3>
        <p>
          Muito em breve, através de nosso sistema você poderá conferir todo o seu histórico de transações com nossos parceiros.
        </p>
        <p>
          Você também terá acesso a seu extrato detalhado de pontos Linkar.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1 faq-box wow fadeInUp">
        <div class="faq-number">3</div>
        <h3>Quais as formas de pagamento que os parceiros aceitam?</h3>
        <p>
          A maioria de nossos parceiros aceita os meios de pagamentos mais comuns do mercado.
        </p>
        <p>
          Cartões de crédito, débito, dinheiro... Na dúvida, não deixe de perguntar diretamente ao parceiro.
        </p>
      </div>
      <div class="col-sm-4 col-sm-offset-2 faq-box wow fadeInDown">
        <div class="faq-number">4</div>
        <h3>Posso fazer pedidos pelo site?</h3>
        <p>
          Ainda não. Mas em breve será possível reservar o produto na loja sem sair de casa.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1 faq-box wow fadeInUp">
        <div class="faq-number">5</div>
        <h3>Por que preciso cadastrar meu CPF?</h3>
        <p>
          Usamos a combinação de seu e-mail e CPF para tornar você único em nosso cadastro.
          Assim podemos garantir que você receba os pontos de suas transações e somente você tenha acesso a seus dados.
        </p>
        <p>
          Não se preocupe. Não divulgamos seus dados para ninguém.
        </p>
      </div>
      <div class="col-sm-4 col-sm-offset-2 faq-box wow fadeInDown">
        <div class="faq-number">6</div>
        <h3>Vocês vão ficar me enviando e-mails?</h3>
        <p>
          Enviamos e-mails promocionais para você ficar por dentro do que tá rolando de bacana e ir correndo a nossos parceiros aproveitar.
          Mas prometemos não te encher de e-mails e tentaremos mandar apenas as ofertas que tiverem mais a sua cara.
        </p>
        <p>
          Você pode cancelar o recebimento de e-mails promocionais se quiser.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1 faq-box wow fadeInUp">
        <div class="faq-number">7</div>
        <h3>Serão sempre as mesmas ofertas?</h3>
        <p>
          A lista de ofertas disponíveis para você resgatar poderá aumentar ou diminuir de acordo com a disponibilidade dos produtos e serviços.
        </p>
        <p>
          À medida que novos parceiros sejam inseridos em nossa rede essa lista tende a aumentar cada vez mais.
        </p>
      </div>
      <div class="col-sm-4 col-sm-offset-2 faq-box wow fadeInDown">
        <div class="faq-number">8</div>
        <h3>O valor das ofertas pode sofrer alterações?</h3>
        <p>
          Sim. Esse valor é definido pela nossa equipe em conjunto com os parceiros que oferecem as ofertas.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 section-bottom-button wow fadeInUp">
        <a class="btn btn-link-1 scroll-link" href="#top-content">Cadastre-se <i class="fa fa-angle-right"></i></a>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 footer-about wow fadeInUp">
        <h3>Sobre nós</h3>
        <p>
          Somos uma equipe apaixonada por desenvolver meios de aproximar as pessoas dos produtos e empresas que mais interessam.
        </p>
        <!-- <p>
          <a class="scroll-link" href="#about-us">Saiba mais</a>
        </p> -->
      </div>
      <div class="col-sm-4 footer-contact-info wow fadeInDown">
        <h3>Entre em contato!</h3>
        <p><i class="fa fa-map-marker"></i> Rua Dr. Mário Guimarães, 428, Sala 308, Centro, Nova Iguaçu, RJ, CEP 26255-230</p>
        <p><i class="fa fa-phone"></i> Phone: (21) 3021-1666</p>
        <p><i class="fa fa-envelope"></i> Email: <a href="mailto:clubelinkar@gmail.com">clubelinkar@gmail.com</a></p>
      </div>
      <div class="col-sm-4 footer-social wow fadeInUp">
        <!-- <h3>Estamos nas redes sociais!</h3> -->
        <h3>Curta nossa página no Facebook!</h3>
        <p>
          <!-- <a href="https://www.facebook.com/clubeLinkar" target="_blank"><i class="fa fa-facebook"></i></a> -->
          <!-- <a href="#"><i class="fa fa-twitter"></i></a> -->
          <!-- <a href="#"><i class="fa fa-google-plus"></i></a> -->
          <div class="fb-page" data-href="https://www.facebook.com/clubelinkar" data-tabs="timeline" data-height="220" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/clubelinkar" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/clubelinkar">Linkar</a></blockquote></div>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 footer-copyright">
        2015 - 2016 &copy; clubelinkar.com.br
      </div>
      <div class="col-sm-6 footer-menu">
        <ul>
          <li><a class="scroll-link" href="#top-content">Topo</a></li>
          <li><a class="scroll-link" href="#features">Por que</a></li>
          <li><a class="scroll-link" href="#how-it-works">Como funciona</a></li>
          <li><a href="#" data-toggle="modal" data-target="#termosUsoModal">Termos de utilização</a></li>
          <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#termosUsoModal">Open Modal</button> -->
          <li><a href="#" data-toggle="modal" data-target="#privacidadeModal">Privacidade</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.6&appId=955797851207724";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<ng-include src="'app/home/modal/privacidade.modal.html'"></ng-include>

<ng-include src="'app/home/modal/termos-utilizacao.modal.html'"></ng-include>
