<ng-include src="'app/home/navbar.html'" ></ng-include>

<!-- Top content -->
<div class="top-content">
  <div class="container">

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text">
        <img src="https://static.clubelinkar.com.br/images/logo_linkar.png" alt="logo linkar" />
        <h1 class="wow fadeInLeftBig">Registre-se agora e comece a Linkar!</h1>
        <div class="description wow fadeInLeftBig">
          <p>
            O Linkar é o Clube de Vantagens que tem os melhores benefícios para o morador da Baixada Fluminense.
            Aqui você terá as melhores empresas da baixada e os melhores produtos e serviços para se beneficiar.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 r-form-1-box wow fadeInUp"
        ng-if="!vm.signupSuccess">

        <div class="r-form-1-top">
          <div class="r-form-1-top-left">
            <h3>Registre-se, e ganhe 100 pontos!</h3>
            <span>Informe seus dados:</span>
          </div>
          <div class="r-form-1-top-right">
            <i class="fa fa-pencil"></i>
          </div>
        </div>
        <div class="r-form-1-bottom">

          <p><a type="button" class="btn btn-primary btn-social-login" ng-click="vm.login('facebook')" ><i class="fa fa-facebook"></i> Usando o Facebook</a></p>
          <p><a type="button" class="btn btn-danger btn-social-login" ng-click="vm.login('google')" ><i class="fa fa-google"></i> Usando o Google</a></p>
          <p><a type="button" class="btn btn-warning btn-social-login" ng-click="vm.isFormVisible = true" ><i class="fa fa-pencil"></i> Preencher manualmente</a></p>

        </div>
        <div class="r-form-1-bottom" ng-if="vm.isFormVisible">
          <form role="form" action="" method="post">
            <div class="form-group">
              <label class="sr-only" for="r-form-1-first-name">Nome</label>
              <input type="text" name="r-form-1-first-name" placeholder="Seu Nome" class="r-form-1-first-name form-control" id="r-form-1-first-name"
                ng-model="vm.user.name">
            </div>
            <div class="form-group">
              <label class="sr-only" for="r-form-1-email">Email</label>
              <input type="email" name="r-form-1-email" placeholder="Seu e-mail" class="r-form-1-email form-control" id="r-form-1-email"
                ng-model="vm.user.email">
            </div>
            <!-- <div class="form-group">
              <label class="sr-only" for="r-form-1-last-name">CPF</label>
              <input type="text" name="r-form-1-last-name" placeholder="Número do seu CPF" class="r-form-1-last-name form-control" id="r-form-1-last-name"
                ng-model="vm.user.cpf"
                ui-br-cpf-mask>
            </div> -->
            <div class="form-group">
              <label class="sr-only" for="r-form-1-password">Senha</label>
              <input type="password" name="r-form-1-password" placeholder="Escolha sua senha" class="r-form-1-password form-control" id="r-form-1-password"
                ng-model="vm.user.password">
            </div>
            <div class="form-group">
              <label class="sr-only" for="r-form-1-password-retype">Confirmação de senha</label>
              <input type="password" name="r-form-1-password-retype" placeholder="Confirme a senha" class="r-form-1-password-retype form-control" id="r-form-1-password-retype"
                ng-model="vm.user.password_retype">
            </div>

            <button type="button" class="btn" ng-click="vm.save()">Registrar!</button>
          </form>
        </div>
      </div>
    </div>



    <div class="col-sm-6 col-sm-offset-3 r-form-1-box wow fadeInUp"
      ng-if="vm.signupSuccess">

      <div class="r-form-1-top">
        <div class="r-form-1-top-left">
          <h3>Olá, {{vm.user.name}}!</h3>
          <p>
            Creditamos 100 lkr pra você por ter se cadastrado conosco.</p>
          <p>
            Fique ligado em nossas novidades. ;-)
          </p>
          <p>
            Você receberá um e-mail confirmando seu cadastro. <br />
            (Se não chegar logo, verifique sua caixa de spams)
          </p>
        </div>
        <div class="r-form-1-top-right">
          <i class="fa fa-smile-o"></i>
        </div>
      </div>

    </div>

  </div>
</div>

<ng-include src="'app/home/products.html'"></ng-include>

<ng-include src="'app/home/porque.html'"></ng-include>

<ng-include src="'app/home/faq.html'"></ng-include>

<ng-include src="'app/home/footer.html'"></ng-include>


<div id="fb-root"></div>


<script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyC6XteBeXdKXhJPId2Jd28XfYHElRW6RkM",
    authDomain: "linkar-7d9e9.firebaseapp.com",
    databaseURL: "https://linkar-7d9e9.firebaseio.com",
    storageBucket: "linkar-7d9e9.appspot.com",
  };
  firebase.initializeApp(config);
</script>

<!-- <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.6&appId=955797851207724";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script> -->

<ng-include src="'app/home/modal/privacidade.modal.html'"></ng-include>

<ng-include src="'app/home/modal/termos-utilizacao.modal.html'"></ng-include>
